body{
    font-family: 'Karma', serif;
}

h1,h2,h3,h4,a,button{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

.light-green{
    background-color: #80ABAE;
}

.pink{
    background-color: #F7BCA8;
}

.brown{
    background-color: #D6AB72;
}

.gold{
    background-color: #EAD17C;
}

.dark-pink{
    background-color: #E19074;
}